html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
	margin: 1rem;
	box-sizing: border-box;
	font-family: Avenir;
	color: #6ec4db;
	position: relative;
	display: flex;
	flex-wrap: nowrap;
}

body.black {
  background-color: black;
}

body.blue {
}

.btn-clear {
  border: none;
  background: transparent;
}

.content {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 85%;
}

.facebook-button, .twitter-button {
  display: inline-block;
}

.logo-corner {
  background-image: url('../images/clogo.png');
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  
}

.logo-corner h2 {
  padding-left: 3rem;
}

.col-4 .row {
  padding-top: 1rem;
}

.twitter-button, .facebook-button {
  padding-left: 1rem;
}
