.my-card {
	background-color: white;
	max-width: 80%;
	height: 80%;
	width: auto;
	padding: 1.5rem;
}

.front-side {
	display: flex;
	flex-direction: row;
	padding: 1rem;
}

.front-side-body {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.face {
  position: relative;
  height: 100%;
}

.user-image {
	width: 40%;
	height: 90%;
	background-size: contain;
	padding-right: 2rem;
}

.front {
}

.back {
  position: absolute;
  left: 0;
  top: 0%;
  width: auto;
  height: 100%;
}

.card {
  width: 75%;
}

.card-body {
  padding: 1rem;
}

.rotate-button {
  position: absolute;
  bottom: 2%;
  transform: translate(-50%, -50%);
  left: 50%;
}
